python3 -m venv venv 
for windwows .\venv\Scripts\activate for mac/linux source ./venv/bin/activate
python -m pip install --upgrade pip
pip install django
pip install pillow
cd core
python manage.py runserver
